<%= render partial: "layouts/errors", locals: { issue: @game } %>

<div class="row">
  <div class="col offset-md-4 col-md-4">
    <%= form_for @game do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :token_cost %>
        <%= f.number_field :token_cost, class: "form-control" %>
      </div>
      <br>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>